In [1]:
import numpy as np
import pandas as pd
import re

from base import building_blocks

In [2]:
from db import mendeleev

In [172]:
mendeleev

,chemical_symbol,ionization_energy,oxidation_states,screening_constant,neutrons,mass_number,hardness,softness,Zeff_slater,Zeff_clementi,...,electronegativity_allred-rochow,electronegativity_cottrell-sutton,electronegativity_ghosh,electronegativity_gordy,electronegativity_li-xue,electronegativity_martynov-batsanov,electronegativity_mulliken,electronegativity_nagle,electronegativity_pauling,electronegativity_sanderson
0,H,{1: 13.598434005136},"[1, -1]","{(1, 's'): 0.0}",0,1,6.422120,0.077856,1.00,1.0000,...,0.000977,0.176777,0.263800,0.031250,"{('I', ''): -3.540721753312244, ('II', ''): -2...",3.687605,6.799217,0.605388,2.20,2.187771
1,He,"{1: 24.587387936, 2: 54.41776311}",[0],"{(1, 's'): 0.3125}",2,4,22.143694,0.022580,1.70,1.6875,...,0.000803,0.192241,0.442712,0.036957,{},6.285107,12.293694,1.130639,NaN,1.000000
2,Li,"{1: 5.391714761, 2: 75.6400937, 3: 122.4543538}",[1],"{(1, 's'): 0.3094000000000001, (2, 's'): 1.7208}",4,7,2.386833,0.209483,1.30,1.2792,...,0.000073,0.098866,0.105093,0.009774,"{('IV', ''): 1.7160634314550876, ('VI', ''): 1...",2.322007,2.695857,0.182650,0.98,0.048868
3,Be,"{1: 9.322699, 2: 18.211153, 3: 153.896198, 4: ...",[2],"{(1, 's'): 0.3151999999999999, (2, 's'): 2.088}",5,9,5.861350,0.085305,1.95,1.9120,...,0.000187,0.138267,0.144986,0.019118,{},3.710381,4.661350,0.375615,1.57,0.126847
4,B,"{1: 8.298019, 2: 25.15483, 3: 37.93058, 4: 259...",[3],"{(1, 's'): 0.3205, (2, 'p'): 2.5786, (2, 's'):...",6,11,4.009148,0.124715,2.60,2.4214,...,0.000360,0.174895,0.184886,0.030588,{},4.877958,4.149010,0.526974,2.04,0.254627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,Fl,{},[],{},173,287,NaN,NaN,5.65,NaN,...,0.000276,0.198772,NaN,0.039510,{},NaN,NaN,0.505320,NaN,1.276548
114,Mc,{},[],{},173,288,NaN,NaN,6.30,NaN,...,0.000240,0.197203,NaN,0.038889,{},NaN,NaN,0.412956,NaN,0.885995
115,Lv,{},[],{},175,291,NaN,NaN,6.95,NaN,...,0.000227,0.199284,NaN,0.039714,{},NaN,NaN,NaN,NaN,0.709221
116,Ts,{},[],{},176,293,NaN,NaN,7.60,NaN,...,0.000279,0.214617,NaN,0.046061,{},NaN,NaN,0.451608,NaN,0.853791
117,Og,{},[],{},176,294,NaN,NaN,8.25,NaN,...,0.000335,0.229233,NaN,0.052548,{},NaN,NaN,0.516679,NaN,1.000000

In [173]:
mendel=mendeleev[mendeleev.columns[0:9]]
mendel

,chemical_symbol,ionization_energy,oxidation_states,screening_constant,neutrons,mass_number,hardness,softness,Zeff_slater
0,H,{1: 13.598434005136},"[1, -1]","{(1, 's'): 0.0}",0,1,6.422120,0.077856,1.00
1,He,"{1: 24.587387936, 2: 54.41776311}",[0],"{(1, 's'): 0.3125}",2,4,22.143694,0.022580,1.70
2,Li,"{1: 5.391714761, 2: 75.6400937, 3: 122.4543538}",[1],"{(1, 's'): 0.3094000000000001, (2, 's'): 1.7208}",4,7,2.386833,0.209483,1.30
3,Be,"{1: 9.322699, 2: 18.211153, 3: 153.896198, 4: ...",[2],"{(1, 's'): 0.3151999999999999, (2, 's'): 2.088}",5,9,5.861350,0.085305,1.95
4,B,"{1: 8.298019, 2: 25.15483, 3: 37.93058, 4: 259...",[3],"{(1, 's'): 0.3205, (2, 'p'): 2.5786, (2, 's'):...",6,11,4.009148,0.124715,2.60
...,...,...,...,...,...,...,...,...,...
113,Fl,{},[],{},173,287,NaN,NaN,5.65
114,Mc,{},[],{},173,288,NaN,NaN,6.30
115,Lv,{},[],{},175,291,NaN,NaN,6.95
116,Ts,{},[],{},176,293,NaN,NaN,7.60
117,Og,{},[],{},176,294,NaN,NaN,8.25

In [174]:
mendel=mendel.drop(['ionization_energy' , 'oxidation_states','screening_constant'], axis=1)

In [175]:
mendel

    chemical_symbol  neutrons  mass_number   hardness  softness  Zeff_slater
0                 H         0            1   6.422120  0.077856         1.00
1                He         2            4  22.143694  0.022580         1.70
2                Li         4            7   2.386833  0.209483         1.30
3                Be         5            9   5.861350  0.085305         1.95
4                 B         6           11   4.009148  0.124715         2.60
..              ...       ...          ...        ...       ...          ...
113              Fl       173          287        NaN       NaN         5.65
114              Mc       173          288        NaN       NaN         6.30
115              Lv       175          291        NaN       NaN         6.95
116              Ts       176          293        NaN       NaN         7.60
117              Og       176          294        NaN       NaN         8.25

[118 rows x 6 columns]

In [217]:
# primary_data=pd.read_csv("All_data.csv")
primary_data=pd.read_csv("/home/saeid/ML/papers/Benchmark/JCTC - Large Scale Benchmark of Exchange Correlation Functionals for the Determination of Electronic Band Gaps of Solids/python/downloaded_list.csv", index_col=0)
primary_data

              formula  space group  bandgap
mp-28222    Rb3Sb2Br9          164   1.9796
mp-17756    RbAg2SbS4          154   0.6178
mp-30373         RbAu          221   0.3699
mp-22867         RbBr          225   4.1920
mp-23295         RbCl          225   4.8388
...               ...          ...      ...
mp-10519      Cu2SnS3            9   0.0183
mp-11658     Cu2SnSe3            9   0.0000
mp-1861         Cu2Te          191   0.0000
mp-10824   ZnCu2GeSe4          121   0.0000
mp-977414   ZnCu2SiS4           31   1.2823

[471 rows x 3 columns]

In [186]:
def statistical_feature_values(compound,feature_collection,feature_name,statistical_functions='all'):
    '''
    this funtion
    '''
    column_names=[]
    atoms = building_blocks(compound,'element')
    # for idx in range(len(atoms)):
    #     column_names.append('{}_{}_{}'.format(feature_name,idx+1,atoms[idx]))
    mat_fea_vals=[]
    for atom in atoms:
        tmp_val = feature_collection.loc[feature_collection['chemical_symbol'] == atom][feature_name].values
        mat_fea_vals.append(tmp_val[0])
    mat_fea_vals_array = np.array(mat_fea_vals)
    
    min_value=mat_fea_vals_array.min()
    max_value=mat_fea_vals_array.max()
    mean_value=mat_fea_vals_array.mean()
    std_value=mat_fea_vals_array.std()
    sum_value=mat_fea_vals_array.sum()
    diff_value=min_value=max_value-min_value
    tmp_dict={'min':min_value, 'max':max_value, 'mean':mean_value, 'std':std_value, 'diff':diff_value, 'sum':sum_value}


    if (statistical_functions=='all'):
        for i in tmp_dict.keys():
            column_names.append(feature_name+'_{}'.format(i))
            # print(column_names)
        return column_names, list(tmp_dict.values())
    elif isinstance(statistical_functions, list):
        tmp_lst=[]
        for i in statistical_functions:
            # print(i)
            column_names.append(feature_name+'_{}'.format(i))
            # print(column_names)
            tmp_lst.append(tmp_dict[i])
        return column_names,tmp_lst
    elif statistical_functions != 'all' and isinstance(statistical_functions, str):
        if statistical_functions not in tmp_dict.keys():
            raise ValueError("The `statistical_functions` parameter should be one of the `min`, `max`, `sum`, `diff`, `mean`, `median` or `all` valuse")
        else:
            tmp_lst=[]
            column_names.append(feature_name+'_{}'.format(statistical_functions))
            tmp_lst.append(tmp_dict[statistical_functions])
            return column_names,tmp_lst

In [187]:
compound='Al2O3'

In [188]:
lst=['min' , 'max']

In [189]:
statistical_feature_values(compound ,mendeleev, 'atomic_number','min')

(['atomic_number_min'], [5])

In [190]:
statistical_feature_values(compound ,mendeleev, 'atomic_number',lst)

(['atomic_number_min', 'atomic_number_max'], [5, 13])

In [191]:
statistical_feature_values(compound ,mendeleev, 'atomic_number')

(['atomic_number_min',
  'atomic_number_max',
  'atomic_number_mean',
  'atomic_number_std',
  'atomic_number_diff',
  'atomic_number_sum'],
 [5, 13, 10.5, 2.5, 5, 21])

In [192]:
primary_data

              formula  space group  bandgap
mp-28222    Rb3Sb2Br9          164   1.9796
mp-17756    RbAg2SbS4          154   0.6178
mp-30373         RbAu          221   0.3699
mp-22867         RbBr          225   4.1920
mp-23295         RbCl          225   4.8388
...               ...          ...      ...
mp-10519      Cu2SnS3            9   0.0183
mp-11658     Cu2SnSe3            9   0.0000
mp-1861         Cu2Te          191   0.0000
mp-10824   ZnCu2GeSe4          121   0.0000
mp-977414   ZnCu2SiS4           31   1.2823

[471 rows x 3 columns]

In [193]:
primary_data[['stat_name','stat_value']]=primary_data['formula'].apply(statistical_feature_values,feature_collection=mendel
                                                                                              ,feature_name='neutrons',statistical_functions='all').tolist()

column_names=primary_data['stat_name'].tolist()[0]
new_data=pd.DataFrame(primary_data['stat_value'].tolist(),columns=column_names,index=primary_data.index)
primary_data=pd.concat([primary_data,new_data],axis=1)

primary_data.drop(['stat_name','stat_value'],axis=1)

,formula,space group,bandgap,neutrons_min,neutrons_max,neutrons_mean,neutrons_std,neutrons_diff,neutrons_sum
mp-28222,Rb3Sb2Br9,164,1.9796,26,70,54.0,11.430952,26,162
mp-17756,RbAg2SbS4,154,0.6178,54,70,48.5,20.316250,54,194
mp-30373,RbAu,221,0.3699,70,118,83.0,35.000000,70,166
mp-22867,RbBr,225,4.1920,4,48,46.0,2.000000,4,92
mp-23295,RbCl,225,4.8388,30,48,33.0,15.000000,30,66
...,...,...,...,...,...,...,...,...,...
mp-10519,Cu2SnS3,9,0.0183,54,70,40.0,22.449944,54,120
mp-11658,Cu2SnSe3,9,0.0000,36,70,50.0,14.966630,36,150
mp-1861,Cu2Te,191,0.0000,44,78,56.0,22.000000,44,112
mp-10824,ZnCu2GeSe4,121,0.0000,12,46,39.0,5.196152,12,156
mp-977414,ZnCu2SiS4,31,1.2823,20,34,24.5,9.526279,20,98

In [219]:
def statistical_feature_values_df(dataframe_name,column_name,feature_collection,feature_name,statistical_functions):
    
    dataframe_name[['stat_name','stat_value']]=dataframe_name[column_name].apply(statistical_feature_values,feature_collection=feature_collection
                                                                                              ,feature_name=feature_name,statistical_functions=statistical_functions).tolist()

    column_names=dataframe_name['stat_name'].tolist()[0]
    new_data=pd.DataFrame(dataframe_name['stat_value'].tolist(),columns=column_names,index=dataframe_name.index)
    dataframe_name=pd.concat([dataframe_name,new_data],axis=1)

    
    return dataframe_name.drop(['stat_name','stat_value'],axis=1)

In [220]:
statistical_feature_values_df(primary_data,'formula',mendel,feature_name='neutrons',statistical_functions='all')

,formula,space group,bandgap,neutrons_min,neutrons_max,neutrons_mean,neutrons_std,neutrons_diff,neutrons_sum
mp-28222,Rb3Sb2Br9,164,1.9796,26,70,54.0,11.430952,26,162
mp-17756,RbAg2SbS4,154,0.6178,54,70,48.5,20.316250,54,194
mp-30373,RbAu,221,0.3699,70,118,83.0,35.000000,70,166
mp-22867,RbBr,225,4.1920,4,48,46.0,2.000000,4,92
mp-23295,RbCl,225,4.8388,30,48,33.0,15.000000,30,66
...,...,...,...,...,...,...,...,...,...
mp-10519,Cu2SnS3,9,0.0183,54,70,40.0,22.449944,54,120
mp-11658,Cu2SnSe3,9,0.0000,36,70,50.0,14.966630,36,150
mp-1861,Cu2Te,191,0.0000,44,78,56.0,22.000000,44,112
mp-10824,ZnCu2GeSe4,121,0.0000,12,46,39.0,5.196152,12,156
mp-977414,ZnCu2SiS4,31,1.2823,20,34,24.5,9.526279,20,98

In [221]:
statistical_feature_values_df(primary_data,'formula',mendel,feature_name='neutrons',statistical_functions=lst)

              formula  space group  bandgap  neutrons_min  neutrons_std
mp-28222    Rb3Sb2Br9          164   1.9796            26     11.430952
mp-17756    RbAg2SbS4          154   0.6178            54     20.316250
mp-30373         RbAu          221   0.3699            70     35.000000
mp-22867         RbBr          225   4.1920             4      2.000000
mp-23295         RbCl          225   4.8388            30     15.000000
...               ...          ...      ...           ...           ...
mp-10519      Cu2SnS3            9   0.0183            54     22.449944
mp-11658     Cu2SnSe3            9   0.0000            36     14.966630
mp-1861         Cu2Te          191   0.0000            44     22.000000
mp-10824   ZnCu2GeSe4          121   0.0000            12      5.196152
mp-977414   ZnCu2SiS4           31   1.2823            20      9.526279

[471 rows x 5 columns]

In [222]:
statistical_feature_values_df(primary_data,'formula',mendel,feature_name='neutrons',statistical_functions='min')

              formula  space group  bandgap  neutrons_min
mp-28222    Rb3Sb2Br9          164   1.9796            26
mp-17756    RbAg2SbS4          154   0.6178            54
mp-30373         RbAu          221   0.3699            70
mp-22867         RbBr          225   4.1920             4
mp-23295         RbCl          225   4.8388            30
...               ...          ...      ...           ...
mp-10519      Cu2SnS3            9   0.0183            54
mp-11658     Cu2SnSe3            9   0.0000            36
mp-1861         Cu2Te          191   0.0000            44
mp-10824   ZnCu2GeSe4          121   0.0000            12
mp-977414   ZnCu2SiS4           31   1.2823            20

[471 rows x 4 columns]

In [223]:
def statistical_features(compound,feature_collection,feature='all',statistical_functions='all'):

    if (feature=='all'):
        tmp_all_list=[]
        column_list=feature_collection.keys().drop('chemical_symbol')
        for i in range(len(column_list)):
            tmp_all_list.append(statistical_feature_values(compound,feature_collection,feature_name=(column_list)[i],statistical_functions=statistical_functions))
        return tmp_all_list
    elif isinstance(feature, list):
        tmp_list=[]
        for i in range(len(feature)):
            tmp_list.append(statistical_feature_values(compound,feature_collection,feature_name=feature[i],statistical_functions=statistical_functions))
        return tmp_list
    elif feature != 'all' and isinstance(feature, str):
        return statistical_feature_values(compound,feature_collection,feature_name=feature,statistical_functions=statistical_functions)
    #     return type(arg)
    # if isinstance(arg, pymatgen.core.composition.Composition):
    #     return type(arg)
    # else:
        # return "Not a dataframe"

In [224]:
statistical_features(compound,mendel,feature='all',statistical_functions='all')

[(['neutrons_min',
   'neutrons_max',
   'neutrons_mean',
   'neutrons_std',
   'neutrons_diff',
   'neutrons_sum'],
  [6, 14, 11.0, 3.0, 6, 22]),
 (['mass_number_min',
   'mass_number_max',
   'mass_number_mean',
   'mass_number_std',
   'mass_number_diff',
   'mass_number_sum'],
  [11, 27, 21.5, 5.5, 11, 43]),
 (['hardness_min',
   'hardness_max',
   'hardness_mean',
   'hardness_std',
   'hardness_diff',
   'hardness_sum'],
  [3.3020010500000003,
   6.0784702500000005,
   4.427469725,
   1.6510005250000002,
   3.3020010500000003,
   8.85493945]),
 (['softness_min',
   'softness_max',
   'softness_mean',
   'softness_std',
   'softness_diff',
   'softness_sum'],
  [0.09782729740556291,
   0.1800848358051297,
   0.13117118710234826,
   0.048913648702781455,
   0.09782729740556291,
   0.2623423742046965]),
 (['Zeff_slater_min',
   'Zeff_slater_max',
   'Zeff_slater_mean',
   'Zeff_slater_std',
   'Zeff_slater_diff',
   'Zeff_slater_sum'],
  [1.0499999999999998,
   4.55,
   4.025,
   0.5249999999999999,
   1.0499999999999998,
   8.05])]

In [225]:
statistical_features(compound,mendel,feature='all',statistical_functions='min')

[(['neutrons_min'], [6]),
 (['mass_number_min'], [11]),
 (['hardness_min'], [3.3020010500000003]),
 (['softness_min'], [0.09782729740556291]),
 (['Zeff_slater_min'], [1.0499999999999998])]

In [226]:
statistical_features(compound,mendel,feature='all',statistical_functions=lst)

[(['neutrons_min', 'neutrons_std'], [6, 3.0]),
 (['mass_number_min', 'mass_number_std'], [11, 5.5]),
 (['hardness_min', 'hardness_std'], [3.3020010500000003, 1.6510005250000002]),
 (['softness_min', 'softness_std'],
  [0.09782729740556291, 0.048913648702781455]),
 (['Zeff_slater_min', 'Zeff_slater_std'],
  [1.0499999999999998, 0.5249999999999999])]

In [227]:
statistical_features(compound,mendel,feature='mass_number',statistical_functions=lst)

(['mass_number_min', 'mass_number_std'], [11, 5.5])

In [228]:
lst_f=['hardness','softness']

In [229]:
statistical_features(compound,mendel,feature=lst_f,statistical_functions=lst)

[(['hardness_min', 'hardness_std'], [3.3020010500000003, 1.6510005250000002]),
 (['softness_min', 'softness_std'],
  [0.09782729740556291, 0.048913648702781455])]

In [234]:
def statistical_features_df(dataframe_name,column_name,feature_collection,feature='all',statistical_functions='all'):
    if (feature=='all'):
        # for i in range(len(feature_collection.keys())):
        tmp_all_list=[]
        column_list=feature_collection.keys().drop('chemical_symbol')
        # print(column_list)
        # tmp_all_df=dataframe_name.copy()
        for i in range(len(column_list)):
            # print(column_list[i])
            dataframe_name=statistical_feature_values_df(dataframe_name,column_name,feature_collection,feature_name=column_list[i],statistical_functions=statistical_functions).copy()
            # print(i)
            # tmp_all_list.append(tmp_all_df)
            # tmp_all_list=pd.concat(tmp_all_list, ignore_index=True)
        # print('ok')
        # return tmp_all_df
        return dataframe_name
    elif isinstance(feature, list):
        tmp_list=[]
        for i in range(len(feature)):
            tmp_list_df=statistical_feature_values_df(dataframe_name,column_name,feature_collection,feature_name=feature[i],statistical_functions=statistical_functions)
        return tmp_list_df
    elif feature != 'all' and isinstance(feature, str):
        return statistical_feature_values_df(dataframe_name,column_name,feature_collection,feature_name=feature,statistical_functions=statistical_functions)

In [236]:
statistical_features_df(primary_data,'formula',mendel,feature='all',statistical_functions='min')

,formula,space group,bandgap,neutrons_min,mass_number_min,hardness_min,softness_min,Zeff_slater_min
mp-28222,Rb3Sb2Br9,164,1.9796,26,42,2.379507,0.152574,5.40
mp-17756,RbAg2SbS4,154,0.6178,54,89,2.295849,0.150183,4.10
mp-30373,RbAu,221,0.3699,70,112,1.612857,0.126341,1.50
mp-22867,RbBr,225,4.1920,4,6,2.379507,0.152574,5.40
mp-23295,RbCl,225,4.8388,30,50,2.831848,0.164018,3.90
...,...,...,...,...,...,...,...,...
mp-10519,Cu2SnS3,9,0.0183,54,88,1.025528,0.039735,1.95
mp-11658,Cu2SnSe3,9,0.0000,36,57,0.749936,0.031129,3.25
mp-1861,Cu2Te,191,0.0000,44,67,0.273702,0.011980,3.25
mp-10824,ZnCu2GeSe4,121,0.0000,12,17,NaN,NaN,3.25
mp-977414,ZnCu2SiS4,31,1.2823,20,36,NaN,NaN,1.75

In [237]:
statistical_features_df(primary_data,'formula',mendel,feature='mass_number')

,formula,space group,bandgap,mass_number_min,mass_number_max,mass_number_mean,mass_number_std,mass_number_diff,mass_number_sum
mp-28222,Rb3Sb2Br9,164,1.9796,42,121,95.000000,18.547237,42,285
mp-17756,RbAg2SbS4,154,0.6178,89,121,86.250000,33.848006,89,345
mp-30373,RbAu,221,0.3699,112,197,141.000000,56.000000,112,282
mp-22867,RbBr,225,4.1920,6,85,82.000000,3.000000,6,164
mp-23295,RbCl,225,4.8388,50,85,60.000000,25.000000,50,120
...,...,...,...,...,...,...,...,...,...
mp-10519,Cu2SnS3,9,0.0183,88,120,71.666667,36.444783,88,215
mp-11658,Cu2SnSe3,9,0.0000,57,120,87.666667,23.893281,57,263
mp-1861,Cu2Te,191,0.0000,67,130,96.500000,33.500000,67,193
mp-10824,ZnCu2GeSe4,121,0.0000,17,80,70.250000,7.084314,17,281
mp-977414,ZnCu2SiS4,31,1.2823,36,64,46.750000,16.813313,36,187

In [238]:
statistical_features_df(primary_data,'formula',mendel,feature='mass_number',statistical_functions='min')

              formula  space group  bandgap  mass_number_min
mp-28222    Rb3Sb2Br9          164   1.9796               42
mp-17756    RbAg2SbS4          154   0.6178               89
mp-30373         RbAu          221   0.3699              112
mp-22867         RbBr          225   4.1920                6
mp-23295         RbCl          225   4.8388               50
...               ...          ...      ...              ...
mp-10519      Cu2SnS3            9   0.0183               88
mp-11658     Cu2SnSe3            9   0.0000               57
mp-1861         Cu2Te          191   0.0000               67
mp-10824   ZnCu2GeSe4          121   0.0000               17
mp-977414   ZnCu2SiS4           31   1.2823               36

[471 rows x 4 columns]

In [239]:
def fetch_features(compounds,collection,features='all',column_name=None,statistical_functions='all'):
    if isinstance(compounds, str):
        # return get_features(compounds,collection,features)
        if features !='all' and isinstance(features, str):
            values= [statistical_features(compounds,collection,features ,statistical_functions=statistical_functions)[1]]
            names = statistical_features(compounds,collection,features ,statistical_functions=statistical_functions)[0]
            return pd.DataFrame(values,columns=names,index=[compounds])
        else :
            n_features=len(statistical_features(compounds,collection,features,statistical_functions))
            n_elements=len(statistical_features(compounds,collection,features,statistical_functions)[0][0])
            tmp_array=np.array(statistical_features(compounds,collection,features,statistical_functions))
            names=list(tmp_array[:,0].reshape(1,n_features*n_elements)[0])
            values=tmp_array[:,1].reshape(1,n_features*n_elements)
            return pd.DataFrame(values,columns=names,index=[compounds])
    if isinstance(compounds, list):
        tmp_df=pd.DataFrame(compounds,columns=["formula"])
        # return tmp_df
        return statistical_features_df(tmp_df,"formula",collection,features, statistical_functions=statistical_functions)
    if isinstance(compounds, pd.DataFrame):
        tmp_dataframe_name=compounds.copy(deep=True)
        if (column_name==None):
            raise ValueError("The input is `pd.DataFrame` and `column_name` argument is not given. Please inter materials column name.")
        else :
            return statistical_features_df(tmp_dataframe_name,column_name,collection,features, statistical_functions=statistical_functions)

In [248]:
fetch_features(compound,mendeleev,features='atomic_number',statistical_functions='min')

       atomic_number_min
Al2O3                  5

In [241]:
lst=['min','std']

In [242]:
fetch_features("Al2O3",mendel,features='mass_number', statistical_functions=lst)

       mass_number_min  mass_number_std
Al2O3               11              5.5

In [243]:
fetch_features("Al2O3",mendel,statistical_functions=lst)

,neutrons_min,neutrons_std,mass_number_min,mass_number_std,hardness_min,hardness_std,softness_min,softness_std,Zeff_slater_min,Zeff_slater_std
Al2O3,6,3.0,11,5.5,3.3020010500000003,1.6510005250000002,0.09782729740556291,0.048913648702781455,1.0499999999999998,0.5249999999999999

In [244]:
fetch_features(primary_data,mendeleev,'atomic_weight',column_name='formula')

,formula,space group,bandgap,atomic_weight_min,atomic_weight_max,atomic_weight_mean,atomic_weight_std,atomic_weight_diff,atomic_weight_sum
mp-28222,Rb3Sb2Br9,164,1.9796,41.856000,121.760000,95.710600,18.559228,41.856000,287.131800
mp-17756,RbAg2SbS4,154,0.6178,89.700000,121.760000,86.789000,34.147886,89.700000,347.156000
mp-30373,RbAu,221,0.3699,111.498769,196.966569,141.217185,55.749384,111.498769,282.434369
mp-22867,RbBr,225,4.1920,5.563800,85.467800,82.685900,2.781900,5.563800,165.371800
mp-23295,RbCl,225,4.8388,50.017800,85.467800,60.458900,25.008900,50.017800,120.917800
...,...,...,...,...,...,...,...,...,...
mp-10519,Cu2SnS3,9,0.0183,86.650000,118.710000,71.438667,35.812254,86.650000,214.316000
mp-11658,Cu2SnSe3,9,0.0000,55.164000,118.710000,87.075667,23.238344,55.164000,261.227000
mp-1861,Cu2Te,191,0.0000,64.054000,127.600000,95.573000,32.027000,64.054000,191.146000
mp-10824,ZnCu2GeSe4,121,0.0000,15.425000,78.971000,70.131750,6.130351,15.425000,280.527000
mp-977414,ZnCu2SiS4,31,1.2823,37.295000,65.380000,47.267750,17.264766,37.295000,189.071000

In [245]:
fetch_features('Al2O3',mendel,features='all')

,neutrons_min,neutrons_max,neutrons_mean,neutrons_std,neutrons_diff,neutrons_sum,mass_number_min,mass_number_max,mass_number_mean,mass_number_std,...,softness_mean,softness_std,softness_diff,softness_sum,Zeff_slater_min,Zeff_slater_max,Zeff_slater_mean,Zeff_slater_std,Zeff_slater_diff,Zeff_slater_sum
Al2O3,6,14,11.0,3.0,6,22,11,27,21.5,5.5,...,0.13117118710234826,0.048913648702781455,0.09782729740556291,0.2623423742046965,1.0499999999999998,4.55,4.025,0.5249999999999999,1.0499999999999998,8.05

In [247]:
fetch_features(primary_data,mendel,features='all',column_name='formula',statistical_functions='min')

,formula,space group,bandgap,neutrons_min,mass_number_min,hardness_min,softness_min,Zeff_slater_min
mp-28222,Rb3Sb2Br9,164,1.9796,26,42,2.379507,0.152574,5.40
mp-17756,RbAg2SbS4,154,0.6178,54,89,2.295849,0.150183,4.10
mp-30373,RbAu,221,0.3699,70,112,1.612857,0.126341,1.50
mp-22867,RbBr,225,4.1920,4,6,2.379507,0.152574,5.40
mp-23295,RbCl,225,4.8388,30,50,2.831848,0.164018,3.90
...,...,...,...,...,...,...,...,...
mp-10519,Cu2SnS3,9,0.0183,54,88,1.025528,0.039735,1.95
mp-11658,Cu2SnSe3,9,0.0000,36,57,0.749936,0.031129,3.25
mp-1861,Cu2Te,191,0.0000,44,67,0.273702,0.011980,3.25
mp-10824,ZnCu2GeSe4,121,0.0000,12,17,NaN,NaN,3.25
mp-977414,ZnCu2SiS4,31,1.2823,20,36,NaN,NaN,1.75

In [246]:
fetch_features(primary_data,mendel,features='all',column_name='formula',statistical_functions='all')

,formula,space group,bandgap,neutrons_min,neutrons_max,neutrons_mean,neutrons_std,neutrons_diff,neutrons_sum,mass_number_min,...,softness_mean,softness_std,softness_diff,softness_sum,Zeff_slater_min,Zeff_slater_max,Zeff_slater_mean,Zeff_slater_std,Zeff_slater_diff,Zeff_slater_sum
mp-28222,Rb3Sb2Br9,164,1.9796,26,70,54.0,11.430952,26,162,42,...,0.173829,0.068883,0.152574,0.521487,5.40,7.60,5.366667,2.301207,5.40,16.10
mp-17756,RbAg2SbS4,154,0.6178,54,70,48.5,20.316250,54,194,89,...,0.170815,0.059472,0.150183,0.683260,4.10,6.30,4.412500,1.584446,4.10,17.65
mp-30373,RbAu,221,0.3699,70,118,83.0,35.000000,70,166,112,...,0.207743,0.063171,0.126341,0.415487,1.50,3.70,2.950000,0.750000,1.50,5.90
mp-22867,RbBr,225,4.1920,4,48,46.0,2.000000,4,92,6,...,0.194627,0.076287,0.152574,0.389254,5.40,7.60,4.900000,2.700000,5.40,9.80
mp-23295,RbCl,225,4.8388,30,48,33.0,15.000000,30,66,50,...,0.188905,0.082009,0.164018,0.377810,3.90,6.10,4.150000,1.950000,3.90,8.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
mp-10519,Cu2SnS3,9,0.0183,54,70,40.0,22.449944,54,120,88,...,0.145082,0.017417,0.039735,0.435247,1.95,5.65,4.933333,0.875912,1.95,14.80
mp-11658,Cu2SnSe3,9,0.0000,36,70,50.0,14.966630,36,150,57,...,0.147951,0.013420,0.031129,0.443854,3.25,6.95,5.433333,1.335623,3.25,16.30
mp-1861,Cu2Te,191,0.0000,44,78,56.0,22.000000,44,112,67,...,0.148060,0.005990,0.011980,0.296120,3.25,6.95,5.325000,1.625000,3.25,10.65
mp-10824,ZnCu2GeSe4,121,0.0000,12,46,39.0,5.196152,12,156,17,...,NaN,NaN,NaN,NaN,3.25,6.95,5.162500,1.248186,3.25,20.65
mp-977414,ZnCu2SiS4,31,1.2823,20,34,24.5,9.526279,20,98,36,...,NaN,NaN,NaN,NaN,1.75,5.45,4.412500,0.643598,1.75,17.65